<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>ユーザー名</td>
      <td>投稿</td>
    </tr>
    <% @articles.each do |article| %>
      <tr>
        <% @user = User.find_by(id:article.user_id) %>
        <% if @user.nil? %>
          <td>退会したユーザー</td>
        <% else %>
          <td><%= @user.name %></td>
        <% end %>
        <td><%= article.content %></td>
        <% if @user == current_user || @user.nil?  %>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<form>
    <label>発言する: <input type="text" data-behavior="chat_input"></label>
</form>


<%= link_to 'New Article', new_article_path %>
