<div class="row">
  <div class="blank_left hidden-xs col-sm-2 col-md-2">
  </div><%# class="blank_left %>
  <div class="info_all col-xs-12 col-sm-8 col-md-8">
    <h1>お知らせ</h1>
    <% @infos.each do |info| %>
      <div class="info_id_<%= info.id %> info_id"  >
      <% @user = User.find_by(id:info.user_id) %>
        <div class="info_title">
          <%= info.title %>
        </div><%# class="info_title %>
      
        <div class="info_user">
          投稿者:
          <% if @user.nil? %>
            退会したユーザー
          <% else %>
            <%= @user.name %>
          <% end %>
          | <%= info.created_at %>
        </div><%# class="info_user %>
        

        
        <div class="info_.info">
          <%= info.info %>
        </div><%# class="info_title %>
        
        <% if current_user.admin == "t" %>
          <%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        
        </div><%# class="info_id" %>
    <% end %>
    
    <% if current_user.admin == "t" %>
      <%= link_to '新規投稿', new_info_path %>
    <% end %>
  </div><%# class="info_all %>

  <div class="blank_right hidden-xs col-sm-2 col-md-2">
  </div><%# class="blank_right %>
  
</div><%# class="row %>